a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }

.error {
  color: red;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

select,
input[type="text"],
input[type="file"],
input[type="email"],
input[type="number"],
input[type="date"] {
  display: block;
  /* width: 400px; */
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 24px;
}

.dynamic-lists .form-control:not(:first-child) {
  margin-top: 32px;
}

.dynamic-lists {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.btn_add_more,
.btn_remove>button {
  align-self: end !important;
  justify-self: end !important;
}

.btn_add_more {
  margin-top: 16px;
}

.nav-bar a:hover {
  color: white !important;
}

table {
  width: 100%;
}

.doctors-list-row > td, th {
  text-align: center;
  min-width: 80px;
}

.go695645437 {
  flex-direction: column !important;
}

.go321821519 {
  position: unset !important;
}

.go1716137461 {
  position: unset !important;
}

.go3046353551 {
  overflow-y: auto !important;
  justify-content: center !important;
}

.go3046353551 button {
  width: 120px !important;
}

.doctor-profile-links:hover {
  text-decoration: underline;
  cursor: pointer;
}

#home_container {
  display: flex;
}

#home_container > div:nth-child(1) {
  width: 50%;
  background-color: #ebf8ff;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#home_container > div:nth-child(2) {
  width: 50%;
  background-color: #3182ce;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.appointment-booking {
  width: 80%;
  margin: 16px auto;
}

.pending-doctor-profile {
  width: 90%;
  margin: 16px auto;
  border: 1px solid black;
  padding: 24px 0;
  border-radius: 16px;
}

.profile-image-container {
  margin: 24px 0;
}

.profile-image {
  height: 150px;
  width: 150px;
  border: 1px solid;
  border-radius: 50%;
  margin: auto;
  object-fit: cover;
}

.pending-doctor-profile .css-mrdutq {
  max-width: 1024px !important;
}

.pending-doctor-profile .profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pending-doctor-profile .profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4299e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pending-doctor-profile .form-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.pending-doctor-profile .form-fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pending-doctor-profile label {
  font-size: 16px;
  font-weight: 600;
  color: #4a5568;
}

.pending-doctor-profile input, 
.pending-doctor-profile select {
  padding: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  font-size: 16px;
  color: #2d3748;
  transition: border-color 0.3s ease;
}

.pending-doctor-profile input:focus, 
.pending-doctor-profile select:focus {
  outline: none;
  border-color: #4299e1;
}

.pending-doctor-profile input[type="checkbox"] {
  margin-right: 8px;
}

.pending-doctor-profile select {
  background-color: #edf2f7;
}

.pending-doctor-profile .buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.pending-doctor-profile button {
  padding: 14px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.pending-doctor-profile button.blue {
  background-color: #4299e1;
}

.pending-doctor-profile button.red {
  background-color: #e53e3e;
}

.offers_container .speciality {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 0.5rem;
}

@media (max-width: 768px) {
  #home_container {
    flex-direction: column;
  }

  #home_container > div:nth-child(1) {
    width: 100%;
    order: 2;
  }

  #home_container > div:nth-child(2) {
    width: 100%;
    order: 1;
  }

  #home_container > div:nth-child(1) h3 {
    font-size: 2rem;
  }

  #home_container > div:nth-child(1) p {
    margin-left: 1rem;
  }

  .booking_made_easy {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .offers_container {
    flex-direction: column !important;
  }

  .offers_container .speciality {
    display: 'grid';
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: '0.5rem';
  }

  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .follow_us {
    align-self: center;
    text-align: center;
  }

  .appointment-booking {
    width: 100%;
  }

  .pending-doctor-profile {
    width: 95%;
    padding: 16px;
  }

  .pending-doctor-profile .form-sections {
    grid-template-columns: 1fr;
  }
}